Repository dudiq/arched-hive: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
    "apps/**/*.{js,jsx,ts,tsx,html}": [
      "eslint --fix",
      "prettier --write"
    ],
    "packages/!(environment)/**/*.{js,jsx,ts,tsx,html}": [
      "eslint --fix",
      "prettier --write"
    ],
    "*.json": [
      "prettier --write"
    ]
}

fix: update build flow
  apps/web/vite.config.ts
  package.json
Due: eslint --fix, prettier --write

fix: revert definition
  package.json
Due: prettier --write

fix: update urls
  docs/assets/index-8fr400gA.js
  docs/assets/index.4887b312.css
  docs/index.html
  docs/sw.js
Due: none

fix: remove unused
  apps/web/src/modules/dom/interface/use-current-route.ts
  apps/web/src/modules/history/interface/use-history-context.ts
Due: eslint --fix, prettier --write

fix: update hash location
  apps/web/src/modules/route/ui/base-router/base-router.tsx
  apps/web/src/modules/route/ui/base-router/use-custom-hash-location.ts
Due: eslint --fix, prettier --write

fix: update dist
  docs/assets/index-8fr400gA.js
  docs/assets/index-WVdwVjeK.js
  docs/index.html
  docs/sw.js
Due: none

fix: update base url
  .env.development
  docs/assets/index-DfKF4hG7.js
  docs/index.html
  docs/sw.js
Due: none

fix: update router and button
  .gitignore
  apps/web/src/modules/app/ui/not-found-page/not-found-page.langs.ts
  apps/web/src/modules/app/ui/not-found-page/not-found-page.tsx
  apps/web/src/modules/money-spending/ui/pages/expense-item-page/categories/categories.tsx
  apps/web/src/modules/pouches/ui/pouch-modal/pouch-item/pouch-item.tsx
  apps/web/src/modules/route/ui/base-router/base-router.tsx
  apps/web/src/modules/route/ui/base-router/use-custom-hash-location.ts
  packages/service/src/interface/inject.ts
  packages/ui-kit/src/button/button.tsx
  packages/ui-kit/src/button/types.ts
Due: eslint --fix, prettier --write

fix: update unused variant
  apps/web/src/modules/categories/ui/controls/controls.tsx
Due: eslint --fix, prettier --write

fix: update docs
  docs/assets/index-8fr400gA.js
  docs/assets/index-DzK8CZnK.js
  docs/index.html
  docs/sw.js
Due: none

fix: update schemes
  scheme/basic.png
  scheme/modules-relation.png
Due: none

refactor: update paddings and build dest
  README.md
  apps/web/src/modules/layout/ui/layout.tsx
  apps/web/src/modules/money-spending/ui/pages/expenses-page/expense-list/expense-row/expense-row.tsx
  apps/web/vite.config.ts
  docs/assets/index-BOnFMbJv.js
  docs/assets/index-D28uEXmH.css
  docs/assets/index-LpEyQ0Bl.css
  docs/index.html
  docs/sw.js
Due: eslint --fix, prettier --write

fix: update docs
  docs/assets/index-D64BWeE4.js
  docs/index.html
  docs/sw.js
Due: none

fix: update paddings
  apps/web/src/modules/analytic/ui/analytic-page/analytic-category/analytic-category.tsx
  apps/web/src/modules/categories/ui/tree-list/tree-item/tree-item.tsx
  apps/web/src/modules/layout/ui/layout.tsx
  apps/web/src/modules/money-spending/ui/pages/expenses-page/expense-list/expense-row/expense-row.tsx
  apps/web/src/modules/settings/ui/settings.page.tsx
Due: eslint --fix, prettier --write

fix: update page
  docs/assets/index-CDCLwaPy.js
  docs/assets/index-D91Ae3q3.css
  docs/assets/index-LpEyQ0Bl.css
  docs/index.html
  docs/sw.js
Due: none

fix: update settings page
  apps/web/src/modules/pouches/ui/pouch-modal/pouch-modal.tsx
  apps/web/src/modules/settings/ui/buttons/buttons.tsx
  apps/web/src/modules/settings/ui/buttons/row-block/row-block.tsx
  apps/web/src/modules/settings/ui/settings.page.tsx
  package.json
Due: eslint --fix, prettier --write

fix: update base url
  .env
  docs/assets/index-BSSKqhqo.js
  docs/assets/index-Bar3e1Q3.css
  docs/assets/index-CDCLwaPy.js
  docs/assets/index-D91Ae3q3.css
  docs/index.html
  docs/manifest.webmanifest
  docs/registerSW.js
  docs/sw.js
Due: none

fix: extract lang rerender
  apps/web/src/modules/app/ui/app.tsx
  apps/web/src/modules/app/ui/lang.tsx
Due: eslint --fix, prettier --write

fix: update inject
  apps/web/.swcrc
  packages/service/src/interface/class/declare-class.ts
  packages/service/src/interface/inject.ts
  packages/service/src/interface/local-storage-item.ts
  packages/storybook/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: update inject type
  packages/service/src/interface/inject.ts
Due: none

fix: extract use-inject from app module
  apps/web/src/modules/analytic/interface/use-analytic-context.ts
  apps/web/src/modules/analytic/ui/analytic-page/analytic-expenses/analytic-expenses.tsx
  apps/web/src/modules/analytic/ui/analytic-page/header/analytic-control.tsx
  apps/web/src/modules/analytic/ui/header-pouch-block.tsx
  apps/web/src/modules/app/interface/use-app-context.ts
  apps/web/src/modules/app/ui/empty-page.tsx
  apps/web/src/modules/categories/interface/services/categories.service.ts
  apps/web/src/modules/categories/interface/use-categories-context.ts
  apps/web/src/modules/focus/ui/use-focus.ts
  apps/web/src/modules/language/interface/use-language-context.ts
  apps/web/src/modules/money-spending/infra/money-spending.adapter.ts
  apps/web/src/modules/money-spending/interface/use-money-spending-context.ts
  apps/web/src/modules/money-spending/ui/pages/expense-item-page/expense-item-page.tsx
  apps/web/src/modules/pouches/infra/pouches.adapter.ts
  apps/web/src/modules/pouches/ui/header-pouch-block.tsx
  apps/web/src/modules/pouches/ui/pouch-modal/pouch-modal-content.tsx
  apps/web/src/modules/pouches/ui/pouch-modal/pouch-modal.tsx
  apps/web/src/modules/route/ui/base-router/history-adapter.tsx
  apps/web/src/modules/service/interface/guid.ts
  apps/web/src/modules/service/interface/use-inject.ts
  apps/web/src/modules/service/interface/use-modal.ts
  apps/web/src/modules/settings/interface/use-settings-context.ts
  apps/web/src/modules/settings/ui/buttons/buttons.tsx
  apps/web/src/modules/theme/interface/use-theme-context.ts
Due: eslint --fix, prettier --write

refactor: remove unused contexts and actions classes
  apps/web/src/modules/analytic/ui/analytic-page/header/date-range-select/use-date-range-select.ts
  apps/web/src/modules/app/interface/actions/empty.action.ts
  apps/web/src/modules/app/ui/lang.tsx
  apps/web/src/modules/language/index.ts
  apps/web/src/modules/language/interface/actions/handle-toggle-lang.ts
  apps/web/src/modules/language/interface/actions/language.action.ts
  apps/web/src/modules/language/interface/use-language-context.ts
  apps/web/src/modules/settings/interface/use-settings-context.ts
  apps/web/src/modules/settings/ui/settings.page.tsx
  apps/web/src/modules/theme/index.ts
  apps/web/src/modules/theme/interface/actions/handle-toggle-theme.ts
  apps/web/src/modules/theme/interface/actions/theme.action.tsx
  apps/web/src/modules/theme/interface/use-theme-context.ts
  apps/web/src/modules/theme/ui/use-theme.ts
Due: eslint --fix, prettier --write

feat: add ability to reset all instances
  apps/web/src/modules/theme/interface/actions/handle-toggle-theme.test.ts
  packages/service/src/index.ts
  packages/service/src/interface/container.ts
  packages/service/src/interface/inject.ts
  packages/service/src/interface/local-storage-item/local-storage-item.ts
  packages/service/src/interface/local-storage-item/storage/get-storage.ts
  packages/service/src/interface/local-storage-item/storage/object-storage.ts
  packages/service/src/interface/local-storage-item/storage/storage-interface.ts
  packages/service/src/interface/local-storage-item/storage/window-storage.ts
Due: eslint --fix, prettier --write

feat: add mock class instance
  apps/web/src/modules/theme/interface/actions/handle-toggle-theme.test.ts
  packages/service/src/interface/container.ts
  packages/service/src/interface/inject.ts
Due: eslint --fix, prettier --write

feat: add tests for some places
  apps/web/src/modules/analytic/interface/stores/analytic.store/get-range-by-view-type.test.ts
  apps/web/src/modules/analytic/interface/stores/analytic.store/get-range-by-view-type.ts
  packages/service/src/interface/container.ts
  packages/service/src/interface/local-storage-item/local-storage-item.test.ts
  packages/service/src/interface/local-storage-item/local-storage-item.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: add tests for store calculations
  apps/web/src/modules/analytic/interface/stores/analytic.store/analytic.store.test.ts
Due: eslint --fix, prettier --write

feat: update run tests for base app
  apps/web/package.json
Due: prettier --write

fix: update docs
  README.md
  scheme/basic.png
Due: none
